 .hostInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:650px;
  justify-content: center;
}

.location {
  padding-bottom: 10px;
  font-size: large;
  z-index: 1;
  position: absolute;
  margin-bottom: 100px;
  color:white;
  margin-right:30px;


  }

  .price{
    padding-bottom: 25px;
  font-size: large;
  position: absolute;
  margin-top: 10px;
  color:white;
  margin-left: 20px;

  }

  .title{
    padding-bottom: 25px;
    font-size: large;
    position: absolute;
    margin-top: 100px;
    color:white;
    margin-right: 53px;

  }

  .description{
    padding-bottom: 25px;
    font-size: large;
    position: absolute;
    margin-top: 350px;
    color:white;
    margin-right: 10px;

  }
  .pic{
    height:1000px;
    width:2600px;
    z-index: -1;
  }

  .submitHost{
    position: absolute;
    margin-top: 600px;
  }
  .upload{
    font-size: large;
    position: absolute;
    margin-top: 160px;
    color:white;
    margin-left: 134px;


  }


  .err{
    margin-left: 30%;
    font-size: x-large  ;
    color:white;
    position: fixed;

  }
 