.everything {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.listingTitle {
  border-bottom: 3px solid gray;
  width: 1200px;
  margin-top: 100px;
  display:flex;
  justify-content:  center;
}

.listingLocation{
  border-bottom: 3px solid gray;
  width: 1200px;
  margin-top: 30px;
  display:flex;
  justify-content:  center;
}

.listingPrice{
  border-bottom: 3px solid gray;
  width: 1200px;
  margin-top: 30px;
  display:flex;
  justify-content:  center;
}

.listingDescription{
  border: 3px solid gray;
  width: 800px;
  height: 300px;
  margin-top: 30px;
  display:flex;
  justify-content:  center;
  overflow: scroll;
}
