.nav{
  display: flex;
  align-items: space-around;
  position: fixed;

}

.signUp, .homebutton{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.homebutton {
  margin-right: 40px;
}

.search{
  margin-left: 110px;
  margin-right: 80px
}
