button {
  margin-right: 10px;
  background-color: #e1ecf4;
  color: #39739d;
  border: 1px solid #7aa7c7;
  padding: .8em;
  font-size: 13px;
  margin-top: 100px;
  border-radius: 3px;
  margin-bottom: 10px;
}
